*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    height:100vh;
    width:100%;
    background-color: navy;
    text-align: center;
    margin: auto;
    padding: 0.1px;
   
}
.container h1{
 margin: 10px;
 font-size: 80px;
 text-shadow: 5px 5px white;
 color:rgb(225, 163, 29);
 font-weight: 600;
 font-family: gilroy;
 font-style: italic;
}
.plays{
    
    height:60vh;
    width:80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    
}
.player{
    height:60%;
    width:30%;
   
 
   
    margin:10px;
   
   
   
}
h2{
    font-size: 50px;
    color: rgb(225, 163, 29);
    text-shadow: 2px 2px white;
    font-style: italic;
    font-weight: 800;
 
}
.player img{
    height:50%;
    width:50%;
    position: cover;
    margin-top: 30px;
   
}
button{
    padding:10px;
    border: none;
    box-shadow: 2px 2px white;
    background-color: rgb(225, 163, 29);
    color: white;
    font-size: 20px;
    font-weight: 600;
   
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    transition: 2s;
}

@media (max-width:600px) {
    .container{
        height:90vh;
        width:100%;
    }
    .container h1{
        font-size: 50px;
        margin-top: 20px;
        text-shadow: 2px 2px white;
    }
    h2{
        font-size: 20px;
        font-weight: 900;
        text-align: center;
        text-shadow: none;

    }

    .player img{
        height:40%;
        width:90%;
        margin-top: 50px;
    }
    button{
        margin-top: -800px;
    }

}